# Copy this file to .env and fill in your secrets.
# NEVER TRACK YOUR ACTUAL .env FILE IN GITHUB OR VERSION CONTROL SOFTWARE.
# CLIENT SECRETS SHOULD NEVER BE PUBLISHED ONLINE.
GITHUB_CLIENT_SECRET=paste_your_github_secret_here
GOOGLE_CLIENT_SECRET=paste_your_google_secret_here
