# Paste this into your .env file and enter your Github client secret
# NEVER TRACK YOUR ACTUAL .env FILE IN GITHUB OR VERSION CONTROL SOFTWARE.
# CLIENT SECRETS SHOULD NEVER BE PUBLISHED ONLINE
GITHUB_CLIENT_SECRET=paste_your_secret_here
